.tickets-container {
    padding: 20px;
}
.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
  
  .ticket-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    height: auto;  
    border: 2px solid #f5a80f;
    border-radius: 12px;       
    padding: 20px;             
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    background-color: #3d3d3d; 
  }
  
  .ticket {
    color: #f5a80f;
  }

  @media (max-width: 667px) {
    .ticket-item{
      flex-direction: column;
      justify-content: center; 
    }
  }